*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
executionHistory.bin
executionHistory.lock
fileHashes.bin
fileHashes.lock
resourceHashesCache.bin
buildOutputCleanup.lock
outputFiles.bin
file-system.probe
